{% extends 'base.html' %}
{% block body %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% if cart %}
        <table class="table table-striped mt-3">
            <thead>
            <tr>
                <th>Melon Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for melon in cart %}
            <tr>
                <td>{{ melon.common_name }}</td>
                <td>{{ melon.quantity }}</td>
                <td>${{ "%0.2f" | format(melon.price) }}</td>
                <td>${{ "%0.2f" | format(melon.total_cost) }}</td>
                <td><a href="/remove_from_cart/{{ melon.melon_id }}" class="btn btn-sm btn-danger">Remove</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <h3>Total: ${{ "%0.2f" | format(order_total) }}</h3>
        <a href="/melons" class="btn btn-large btn-secondary">Continue Shopping</a>
        <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>
    {% else %}
        <p>Your cart is empty. <a href="/melons">Browse melons</a>.</p>
    {% endif %}
{% endblock %}